body {
  background-color: #e2d453a4;
}
h1 {
  padding-top: 30px;
  text-align: center;
  font-family: "Times New Roman", Times, serif;
}
h2 {
  padding-bottom: 20px;
  text-align: center;
  font-family: "Times New Roman", Times, serif;
}
img {
  padding-left: 150px;
}
